@import url('content.css');
@import url('modal.css');
@import url('gallery.css');
@import url('footer.css');

:root {
    --darkgray: #212329;
    --blurple: #3059ff;
    --white: #fff;
    --lightblue: #337af1;
    --lightgray: #b1b1b1;

    --errorColor: #f00e0e;
    --validColor: #0add0a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.nav__container {
    width: 100%;
    background-color: var(--darkgray);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar__logo {
    color: var(--white);
    justify-self: start;
    margin-left: 20px;
}

#navbar__logo {
    cursor: pointer;
}

.nav__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav__links {
    color: var(--white);
    text-decoration: none;
}

.nav__links:hover {
    color: var(--blurple);
    transition: all 0.2 ease-out;
}

.nav_links_btn {
    background-color: var(--blurple);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav_links_btn:hover {
    background-color: transparent;
    color: var(--white);
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--blurple);
    transition: all 0.3s ease-out;
}

.menu__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-out;
    background: var(--white);
}

@media screen and (max-width: 768px) {
    .nav__container {
        position: relative;
    }

    .nav__menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--blurple);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar__logo {
        margin-left: 20px;
    }

    .nav__menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav__links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav__links:hover {
        background-color: var(--blurple);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    .nav_links_btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .nav_links_btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--blurple);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    #mobile-menu {
        position: absolute;
        top: 30%;
        right: 5%;
    }

    .menu__toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu__toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
